.unliner{
    width: 50px;
    border-radius: 16px;
    height: 5px;
    background-color: #001d3d;
    margin: 0 auto 30px auto;
    margin-bottom: 30px;
    margin-top: 5px;
}

/* .Title{
    color: #023047;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
   
} */

.Heading{
    color: #3d405b;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    
}

.Text-Body{
    color: #2b2d42;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
}
