
.home-content{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
  .home-photo {
    width: 300px;
    position: relative;
    top:23vh;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  .home-text {
    padding-left: 2vw;
    font-size: 1rem; 
    color: #333;
  }
